/*
Curtis Bickham
09/18/2025
style.css

*/

/*CSS reset*/
head, body, main, nav, footer, img, dt, dd, ul, li, aside, figure, figcaption{
	margin:0;
	padding:0;
	
}

img{
	max-width: 100%;
	display: block;
}
body {
  font-family: "Merriweather", serif;
    padding-top: 100px;
	background-color: #e9f5f9;
	color: #165a72
	
}
a{
	text-decoration: none;
	background-color: #0b2d39;
	color: #d3eaf2;
	border-radius: 5px;
	padding: .5em .5em;
}


/*Header style rules*/
header{
	/*padding: 2% 5%;
	background-color: #0b2d39;
	color: #d3eaf2;
	text-align: center;
	margin; auto 0;
	display: flex;*/
	
	background-color: #0b2d39;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #d3eaf2;
  padding: 1em;

}
header img{
	/*margin-left: 2em;
	width: 300px;
	height: auto;*/
	
  width: 30%;
  max-width: 300px;
  height: auto;
  margin-left: 0; /* remove extra margin */
  padding-right: 30px;
}
.header-content{
	/*margin: auto 10px;*/
	flex: 1;
	padding-right: 2em; /* adds spacing between text and image */
	padding-left: 5px; /* adds spacing between text and image */
}
.header-content h1,
.header-content figcaption {
  margin: 0;
}
.header-content h1{
	font-size: 4em;
}




/*main style rules*/
main{
	padding: 1%;
	background-color: #fff;
}

main dt{
	font-weight: bold;
	padding: 1em 1em;
}



/*Nav style rules*/
nav{
	color: #d3eaf2;
	background-color: #165a72;
	padding: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;
}
nav ul{
	display: flex;	
	list-style-type: none;
	padding: 15px 0px;
	gap: 1.5em; 
	justify-content: center; 
	flex-wrap: wrap;
}
nav ul li {
  margin-bottom: 10px; 
  display: inline-block;
  font-size: 30px;
}
nav img{
	width: 120px;
	height: auto;
}


/*footer style rules*/
footer{
	background-color: #165a72;
	color: #d3eaf2;
	padding: 1%;
}

/* Table Style Rules */
table{
	background-color: #C8E0E8;
	border: 2px solid #d3eaf2;
	/*border-size: 15px;*/
	border-radius: 5px;
	box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.2);
	/*min-font-size: .1em;*/
	/*max-font-size: 1em;*/
	margin: 0 auto;
	margin-bottom: 15px;
}

table caption{
	font-size: 1.5em;
}

thead{
	color: #d3eaf2;
	background-color: #165a72;	
}
th{
	color: #d3eaf2;
	background-color: #165a72;
	padding: 5px 5px;
}
td{
	background-color: #fff;
	text-align: center;
}
/* Form Style Rules */
form{
	background-color: #EEFAFF;
	max-width: 500px;
	height: auto;
	border: 2px solid #d3eaf2;
	/*border-size: 15px;*/
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 15px;
	padding: 10px 10px;
}
fieldset{
	background-color: #fff;
}
input, label{
	margin: 10px auto;
}
legend{
	font-weight: bold;
	font-size: 1.4em;
}
footer img{
	width: 40px;
	color: #d3eaf2;
	border-radius: 0px;
	padding: 0;
}
footer #social a{
	padding: 0em;
	margin: 0em;
}


/*Class style rules*/
.note{
	font-weight: bold;
}
.header{
	font-weight: bold;
	text-decoration: underline;
}
.round {	
	border-radius: 2em;	
	
}
.mobile{
	max-width: 100%;
	height: auto;		
	margin: 0 auto;
}

.game-tab {
  border: 5px solid #fff;
  border-radius: 8px;
  margin: 1em 0;
  	box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);

}
.game-tab a {
	background-color: #d3eaf2;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 1em;
}
.game-tab a p{
	font-size: 1.4em;
}
.game-tab a h3{
	font-size: 2em;
}

.tab-content {
  flex: 1;
}

.tab-image {
  width: 20%;
  min-width: 100px;
  max-width: 300px;
  height: auto;
  margin-left: 1em;
  border-radius: 4px;
}


.edu-article{
	min-width: 250px;
	max-width: 850px;
	height: auto;
	background-color: #d3eaf2;
	border: 5px solid #fff;
	border-radius: 12px;
	padding: 5px 5px;	
	text-align: center;	
	box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.2);
}
.edu-article img{
	width: 200px;
	height: auto;
	display: block;
	margin: 0 auto;
}


.hamburger{
	width: 80px;
	height: 70px;
	background-color: #d3eaf2;
	border-radius: 3px;
	padding: 0px 70px;
	
}

/*ID Style rules*/

#project-block, #prototype-block{
	margin: 1em 1em;
	padding: 1em 1em;
	border-radius: 1em;
}



#container{
	padding: 0 .5em;
}
/*Media Query for mobile*/
@media screen and (max-width: 600px){
		.mobile{
			display: block;
			margin: 0 auto;
		}
		.desktop{
			display: none;
		}
		.hamburger-list{
			display: none;
		}
		input{
			padding: 7px;
		}
		label{
			font-size: 1.2em;
		}
		
		nav {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1em;
			justify-content: center;
		}

		nav img {
			display: block;
			margin: 0 auto 0.5em auto;
			float: none;
			width: 75px;
			height: auto;
		}

		nav h1 {
			font-size: 1.5em;
			margin: .5em 0 2em 0; 
			text-align: center;
		}

		nav ul {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 0;
			gap: .75em;
		}

		nav ul li a{
			font-size: 1.3em;
			padding: .1em 10em;     
			text-align: center;
			margin: 0 auto;
		}
  
  
		header{
			padding-top: 3em;
			margin-top: 5em;
		}
		
		.edu-grid{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			gap: .5rem;
			padding-left: 10em;
			padding-right: 10em;
			justify-content: center; /* This centers the grid items */
		}
		.edu-article{
			font-size: 1em;
		}
		
		.mobile-center{
			text-align: center;
		}
		
}
/*Media Query for desktops*/
@media screen and (min-width: 601px){
		.mobile{
			display: none;
		}
		.desktop{
			display: block;
		}

		a{
			transition: transform 0.3s ease;
		}
		a:hover{
			background-color: #fff;
			transform: scale(1.05);			
		}
		.game-tab a:hover{
			background-color: #e3eef2;
		}
		
		nav ul li a{
			font-size: .85em;
		}

		
		.edu-grid{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 10px;
		}
		.edu-article{
			font-size: 1.5em;
		}
		
		input{
			padding: 3px;
		}
}